<h1>Webhook Capture Failed (payment_authorized)</h1>

<h3>{{ member_name }}</h3>
<p>
	<b>Contact:</b> {{ contact }}
</p>
<p>
	<b>Email:</b> {{ email_id }}
</p>
<p>
	<b>Customer ID:</b> {{ customer_id }}
</p>

<hr>

<p>You might have to create the entry manually. Follow these steps to do so!</p>
<ol>
	<l1>Get customer details from Razorpay</l1>
	<l1>Make the member Entry</l1>
	<l1>Add the Razorpay Token and Customer Activity</l1>
	<l1>Update Razorpay token status based on the status from the dashboard</l1>
</ol>